.nh1 {
    background-color: #c8d7ea;
    height: 500px;
    padding: 130px 400px;
}

.nh2 {
    background-color: #dadfe8;
    height: 500px;
    padding: 130px 480px;
}

.texto {
    max-width: 500px;
    font-size: large;
}

.title {
    text-align: center;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}


.text-side {
    flex: 1;
}


.img-side {
    padding-left: 60px;
    max-width: 300px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.final-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.titulo3 {
    font-size: 4.3rem;
     font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.desenhot {
    text-align: center;
    margin-top: 60px;
}

/* Vídeo */



.video-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.video-style {
    width: 100%;
    max-width: 1000px;
    border-radius: 12px;
    
   
}

/* Animação de entrada suave */
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeInUp 1s ease both;
  }
  
  /* Delays para sequência */
  .delay-1 { animation-delay: 0.3s; }
  .delay-2 { animation-delay: 0.6s; }
  .delay-3 { animation-delay: 0.9s; }
  .delay-4 { animation-delay: 1.2s; }
  .delay-5 { animation-delay: 1.5s; }
  .delay-6 { animation-delay: 1.8s; }
  
















/* Responsividade */

@media (max-width: 600px) {
    .desenhot {
        font-size: 1.5rem; /* Tamanho da fonte menor para telas pequenas */
    }
}

@media (max-width: 768px) {
    .nh1, .nh2 {
        padding: 50px 20px; 
    }

    .title {
        font-size: 50px; 
    }

    .img-side {
        max-width: 100%; 
    }

    .content-wrapper, .final-container {
        flex-direction: column; 
        align-items: center; 
    }
}

@media (max-width: 1550px) {
    .nh1, .nh2 {
        padding: 80px 20px; 
        height: auto; 
    }

    .title {
        font-size: 70px; 
    }

    .img-side {
        max-width: 200px; 
        padding-left: 0; 
        margin: 20px 0; 
    }

    .content-wrapper, .final-container {
        flex-direction: column; 
        align-items: center; 
    }

    .texto {
        max-width: 90%; 
    }

    .titulo3 {
        font-size: 3rem; 
    }
}
